<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Learn JDBC JSP Servlet</display-name>
	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>servletFilter</filter-name>
		<filter-class>com.laptrinhjavaweb.filter.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>servletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>HomeServlet</display-name>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.laptrinhjavaweb.controller.admin.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/HomeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewAllCategoryById</display-name>
		<servlet-name>ViewAllCategoryById</servlet-name>
		<servlet-class>com.laptrinhjavaweb.controller.web.ViewAllCategoryById</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAllCategoryById</servlet-name>
		<url-pattern>/ViewAllCategoryById</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TestGetNewModelServlet</display-name>
		<servlet-name>TestGetNewModelServlet</servlet-name>
		<servlet-class>com.laptrinhjavaweb.controller.admin.TestGetNewModelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestGetNewModelServlet</servlet-name>
		<url-pattern>/TestGetNewModelServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TestCreateNewModelServlet</display-name>
		<servlet-name>TestCreateNewModelServlet</servlet-name>
		<servlet-class>com.laptrinhjavaweb.controller.admin.TestCreateNewModelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestCreateNewModelServlet</servlet-name>
		<url-pattern>/TestCreateNewModelServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TestServlet</display-name>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.laptrinhjavaweb.controller.admin.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListAllNewController</display-name>
		<servlet-name>ListAllNewController</servlet-name>
		<servlet-class>com.laptrinhjavaweb.controller.admin.ListAllNewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListAllNewController</servlet-name>
		<url-pattern>/ListAllNewController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.laptrinhjavaweb.controller.web.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
</web-app>